<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <div>
    <img 
      class="profile-avatar"
      src="<%= profile.avatar %>" 
      alt="<%= profile.name %>'s avatar"
    >
  </div>
  <h1>It's <%= isSelf ? "you" : profile.name %>!</h1>
  <ul>

    <li>Name: <%= profile.name %></li>
    
  </ul>
  <% if ( isSelf ) { %>
    
    <li>Phone Number: <a href="tel:phoneNumber"><%= profile.phoneNumber%></a></li>
    <button>Leave A Review</button>

    <% } %>
  </main>

<%- include('../partials/footer') %>
