<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Edit Appointment</h1>
  <form action="/appointments/<%= appointment._id %>?_method=PUT" method="POST">
    <label>
      Name: 
      <input 
        type="text"
        name="name" 
        value="<%= appointment.name %>" 
        autocomplete="off"
      >
    </label>
    <label>
      Flexible?
      <input 
        type="checkbox" 
        name="flexible" 
				<%= appointment.flexible ? "checked" : "" %> 
      >
    </label>
    <button type="submit">Edit</button>
  </form>
</section>

<%- include('../partials/footer') %>