<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<section>
  <h1>Sign up</h1>
  <% if (user) { %>
    <form action="/appointments" method="POST">
      <label>
        Name:
        <input type="text" name="name" autocomplete="off">
      </label>
      <label>
        Phone Number:
        <input type="text" name="phoneNumber" autocomplete="off">
      </label>
      <label for="date-select">Date:</label>
      <input type="date" name="date" value="<%= appointments.date %>" id="date-input">
      <label for="time-select">Time:</label>
        <select name="time" id="time-select">
          <option value="0800">8:00am</option>
          <option value="0900">9:00am</option>
          <option value="1000">10:00am</option>
          <option value="1100">11:00am</option>
          <option value="1200">12:00pm</option>
          <option value="1300">1:00pm</option>
          <option value="1400">2:00pm</option>
          <option value="1700">5:00pm</option>
          <option value="1800">6:00pm</option>
          <option value="1900">7:00pm</option>
          <option value="2000">8:00pm</option>
          <option value="2100">9:00pm</option>
        </select>
      <label for="time-select">Service:</label>
        <select name="service" id="service-select">
          <option value="mens-haircut">Men's Haircut</option>
          <option value="kids-haircut">Kid's Haircut</option>
          <option value="beard-trim">Beard Trim</option>
        </select>
        Flexible?
        <input type="checkbox" name="flexible">
      </label>
      <button type="submit">Add Appointment</button>
    </form>
  <% } %>
  <h2> All Appointments</h2>
	<ul>
  <% appointments.forEach(appointment => { %>
    <li>
      🌮 
      <a href="/appointments/<%= appointment._id %>"><%= appointment.name %></a> is <%= appointment.flexible ? 'yes' : 'no' %>
    </li>
  <% }) %>
  </ul>
</section>
</section>

<%- include('../partials/footer') %>