<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/reviews/new.css">

  <%- include('../partials/nav') %>

    <section>
      <img src="https://i.imgur.com/5Zvh9RP.jpg" alt="Half-logo" id="halfLogo" />
    </section>

    <% if (user) { %>

      <main class="all-main">
      <h2>Leave a review:</h2>
        <form class="form-data" action="/reviews/new-review" method="POST">
          <select name="author" id="author-select" placeholder="Author">
            <option value="name">Author</option>
            <option value="<%= user.profile.name %>">
              <%= user.profile.name %>
            </option>
            <option value="Anonymously">Anonymous</option>
          </select>
          <input type="date" name="serviceDate" data-placeholder="Service Date" class="index-date" />

          <select name="service" id="service-select" placeholder="Service">
            <option value="Service">Service</option>
            <option value="Men's Haircut">Men's Haircut</option>
            <option value="Women's Haircut">Women's Haircut</option>
            <option value="Kid's Haircut">Kid's Haircut</option>
            <option value="Beard Maintenance">Beard Maintenance</option>
            <option value="Nose/Ear Hair Removal(Wax)"> Nose/Ear Hair Removal</option>
          </select>
         
          <textarea name="content" id="content-textarea" placeholder="Thank you for your business. Plese leave a review here. "></textarea>
         
          <select name="rating" type="string" id="rating-select">
            <option value="5">5</option>
            <option value="4">4</option>
            <option value="3">3</option>
            <option value="2">2</option>
            <option value="1">1</option>
          </select>
          <button type="submit" class="defaultButton">Add Review</button>
        </form>
        <% } %>
        <h1> Reviews:</h1>
  
      <% if (reviews.length> 0) { %>
        <table>
          <thead>
            <tr>
              <th>Date Created</th>
              <th>Author</th>
              <th>Service Date</th>
              <th>Service</th>
              <th>Review</th>
              <th>Rating</th>
            </tr>
          </thead>
          <tbody>

            <% reviews.forEach(review=> { %>
              <tr>
                <td>
                  <%= new Date(review.updatedAt).toLocaleString([], {month: 'numeric' , day: 'numeric' , year: 'numeric'
                    }) %>
                </td>
                <td>
                  <%= review.author %>
                </td>
                <td>
                  <%= new Date(review.serviceDate).toLocaleString([], {month: 'numeric' , day: 'numeric' , year: 'numeric' })
                    %>
                </td>
                <td>
                  <%= review.service %>
                </td>
                <td>
                  <%= review.content %>
                </td>
                <td>
                  <%= review.rating %>
                </td>
              </tr>
              <% }) %>
          </tbody>
        </table>
        <% } else { %>
          <h3>No Reviews Yet</h3>
          <% } %>
        </main>


    <%- include('../partials/footer') %>