<%- include('../partials/html-head') %>
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <%- include('../partials/nav') %>

    <% if (user) { %>

      <h1>Reviews</h1>
      <section>
        <form id="add-review-form" action="/reviews/new-review" method="POST">
          <label for="author-select">Author:</label>
          <select name="author" id="author-select">
            <option value="<%= user.profile.name %>">
              <%= user.profile.name %>
            </option>
            <option value="Annonymously">Annonymous</option>
          </select>
          </label>
          <label for="service-select">Service:</label>
          <select name="service" id="service-select">
            <option value="Men's Haircut">Men's Haircut</option>
            <option value="Women's Haircut">Women's Haircut</option>
            <option value="Kid's Haircut">Kid's Haircut</option>
            <option value="Beard Maintenance">Beard Maintenance</option>
            <option value="Nose/Ear Hair Removal(Wax)"> Nose/Ear Hair Removal</option>
          </select>
          <label for="content-textarea">Review:</label>
          <textarea name="content" id="content-textarea"></textarea>
          <label for="rating-select">Rating:</label>
          <select name="rating" id="rating-select">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5" selected>5</option>
          </select>
          <button type="submit">Add Review</button>
        </form>

        <% } %>
      </section>
      <h2> Reviews:</h2>

      <% if (reviews.length> 0) { %>
        <table>
          <thead>
            <tr>
              <th>Date</th>
              <th>Author</th>
              <th>Service Date</th>
              <th>Service Received</th>
              <th>Review</th>
              <th>Rating</th>
            </tr>
          </thead>
          <tbody>

            <% reviews.forEach(review=> { %>
              <tr>
                <td>
                  <%= review.createdAt %>
                </td>
                <td>
                  <%= review.author %>
                </td>
                <td>
                  <%= review.content %>
                </td>
                <td>
                  <%= review.rating %>
                </td>
              </tr>
              <% }) %>
          </tbody>
        </table>
        <% } else { %>
          <h3>No Reviews Yet</h3>
          <% } %>