<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/appointments/show.css" />
<%- include('../partials/nav') %>


<% if (appointment.reviews.length) { %>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Review</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <% appointment.reviews.forEach(review => { %>
        <tr>
          <td><%= review.createdAt.toLocaleDateString() %></td>
          <td><%= review.content %></td>
          <td><%= review.rating %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
<% } else { %>
  <h3>No Reviews Yet</h3>
<% } %>

<%- include('../partials/footer') %>